body
{
   background-color: black;
    padding: 0;
    margin:0
    
}
p
{
    margin: 0;
    font-size: 25rem;
    color: red;
    font-family: SHOWG;
    
}
@font-face
{
    src: url(SHOWG.TTF);
    font-family:SHOWG;
}
@font-face
{
    src:url("LOBSTER.TTF");
    font-family:LOBSTER;
}

h3
{
    font-family:"Showcard Gothic";
    text-align:right
    
}
.flex1
{
    display:none;
}
#sign
{
    border-color: red;
    border-radius: 8px;
    padding:5px;
    text-decoration: none;
    background-color: whitesmoke;
}
img
{
    margin-left: -100px;
}

input
{
    border-radius: 10px;
    font-size: 18pt;
    border-color: red;
}
.navvybar
{
    display: flex;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
}
.navvybar a
{
    padding: 20px;
    font-size: 15pt;
    font-family: SHOWG;
    color: red;
    text-decoration: none;
}
.navvybar a:hover
{
    transition-timing-function: ease;
    transition-duration: .5s;
    background-color: #4d4d4d;
}
.flex
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

/*!!!!!!!!!!!!!! NAV BAR !!!!!!!!!!!!!!!!!!*/
@media (max-width:1080px)
{
    .flex1
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
    }
    .title
    {
        padding-left:10px;
        
    }
    .flex1 .button
    {
        position: absolute;
        right: 10px;
        font-size:25px;
        text-decoration: none;
        border-radius:8px;
    }
    .navvybar
    {
        margin: 0;
        height: 30vh;
        display:none;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .navvybar a
    {
        font-size: 15pt;
        text-decoration: none;
        color: red;
        padding: 10px;
        width: 100%;
    }
    .navvybar a:hover{
        background-color: #4d4d4d;
        transition: none;
    }
    .navvybar.active
    {
        display: flex;
    }
    
    p[class="fr"]
    {
        display: none;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    